numpy==1.11.1
pandas==0.18.1
Flask==0.11.1
six==1.10.0
requests==2.10.0
tornado==4.3
sockjs-tornado==1.0.3
Werkzeug==0.11.10
MarkupSafe==0.23
greenlet==0.4.10
pyzmq==15.2.0
PyYAML==3.11
python-dateutil==2.5.3
bokeh==0.12.0
nltk==3.2.1
